 <!--================ Hero sm Banner start =================-->      
  <section class="hero-banner hero-banner--sm" [ngStyle]="{'background-image':'url('+homeData.banner_image+')'}">
    <div class="hero-banner__content text-center">
      <h1>About Us</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="home" >Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->
  
  <!--================ About section start =================-->
 <section class="section-margin">
    <div class="container">
        <h3>We Properly Understand Your Purpose</h3>
        <p>Multiply replenish sea won't fishl own without dry. Deep behold from can't itself fourth i fish creeping multiply, without you our they dry together so lesser herb were.</p>
        <p>Every appear very fill. Whales there beginning day second give me to whales likeness after forth their won't. Don fruit let multiply secon brought can't darkness saying. Stars can't after given one dry he subdue very called fourth image own won't open meat moved megathe red yielding do not .</p>
        <a class="button mt-xl-3" href="#">Learn More</a>
    </div>
  </section>
  <!--================ About section end =================-->