
    <!--================ Hero sm Banner start =================-->      
  <section class="hero-banner hero-banner--sm" *ngIf="contactData" [ngStyle]="{'background-image':'url('+contactData.page_banner+')'}" >
    <div class="hero-banner__content text-center">
      <h1 *ngIf="contactData.title" [innerHtml]="contactData.title.rendered"></h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"  *ngIf="contactData.title" [innerHtml]="contactData.title.rendered"></li>
        </ol>
      </nav>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->
  
  <!-- ================ contact section start ================= -->
  <section class="section-margin--large"  *ngIf="contactData">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-4 mb-md-0"  *ngIf="contactData.content"  [innerHtml]="contactData.content.rendered">
          
        </div>
        <div class="col-md-8 col-lg-9">
          <form action="#" class="form-contact contact_form" method="post" id="contactForm" novalidate="novalidate">
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name">
                </div>
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
                </div>
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                    <textarea class="form-control different-control w-100" name="message" id="message" cols="30" rows="5" placeholder="Enter Message"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group text-center text-md-right mt-3">
              <button type="button" class="button button-contactForm">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
	<!-- ================ contact section end ================= -->